<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>user</param-name>
        <param-value>usr14</param-value>
    </context-param>
    <context-param>
        <param-name>senha</param-name>
        <param-value>oracle14</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:oracle:thin:@oracle.inf.poa.ifrs.edu.br:1521:XE</param-value>
    </context-param>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erro.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/erro404.html</location>
    </error-page>
    <servlet>
        <servlet-name>TrataCadastroServlet</servlet-name>
        <servlet-class>controle.TrataCadastroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrataCadastroServlet</servlet-name>
        <url-pattern>/TrataCadastroServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>trataLoginServlet</servlet-name>
        <servlet-class>controle.TrataLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrataLoginServlet</servlet-name>
        <servlet-class>controle.TrataLoginServlet</servlet-class>
    </servlet>
</web-app>
